body{
}

@font-face {
    font-family: "SF Pro Display";
    font-style: bold;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("SF Pro Display"),
         /* Если не получилось, загрузит woff2 */
         url("SF Pro Display.otf") format("otf"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/roboto.woff") format("woff");
  }

#name1 {
    color: #333333;
    font-size: 16px;
    font-family: SF Pro Display;
    /* padding-left: 20px; */
    text-align: center;
}

#name2 {
    color: #333333;
    font-size: 16px;
    font-family: SF Pro Display;
    /* padding-left: 20px; */
    text-align: center;
}